<?xml version="1.0" ?>
<robot name="urdf_model2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="materials.xacro" />
<xacro:include filename="urdf_model2.trans" />
<xacro:include filename="urdf_model2.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-8.881784197001253e-18 -1.7763568394002505e-17 1" rpy="0 0 0"/>
    <mass value="1.8212"/>
    <inertia ixx="0.006618" iyy="0.001866" izz="0.008454" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="urdf_case">
  <inertial>
    <origin xyz="-0.005000000000000032 -0.02725000000001962 0.02249999999999998" rpy="0 0 0"/>
    <mass value="0.17920403874143231"/>
    <inertia ixx="7.3e-05" iyy="3.2e-05" izz="4.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.06 -0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.06 -0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="urdf_case2">
  <inertial>
    <origin xyz="-0.005000000000000018 0.02724999999998083 0.022500000000000266" rpy="0 0 0"/>
    <mass value="0.17920403874143231"/>
    <inertia ixx="7.3e-05" iyy="3.2e-05" izz="4.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.06 0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.06 0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="urdf_case3">
  <inertial>
    <origin xyz="0.005000000000000018 -0.02725000000001962 0.022500000000000006" rpy="0 0 0"/>
    <mass value="0.17920403874143234"/>
    <inertia ixx="7.3e-05" iyy="3.2e-05" izz="4.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.06 -0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.06 -0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="urdf_case4">
  <inertial>
    <origin xyz="0.005000000000000025 0.027249999999980817 0.022500000000000204" rpy="0 0 0"/>
    <mass value="0.17920403874143231"/>
    <inertia ixx="7.3e-05" iyy="3.2e-05" izz="4.4e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.06 0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.06 0.11 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://my_bot/meshes/urdf_case4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 5" type="fixed">
  <origin xyz="0.06 0.11 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="urdf_case"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.06 -0.11 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="urdf_case2"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="-0.06 0.11 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="urdf_case3"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="-0.06 -0.11 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="urdf_case4"/>
</joint>

</robot>
